header {
	background-color: var(--main-color);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7px;
	padding: 16px 0;
	img {
		width: 24px;
	}
	p {
		color: #fff;
		font-weight: 500;
		font-size: 0.9rem;
	}
}
